In [2]:
import pandas as pd
import numpy as np
import os, sys

In [3]:
sys.path.append("src/")
from constants import *

In [5]:
# read movie titles
movie_titles = pd.read_csv(os.path.join(DATA_DIR, 'movie_titles.csv'),
                           encoding = 'ISO-8859-1', 
                           header = None, 
                           names = ['Id', 'Year', 'Name'])

In [7]:
print(movie_titles.shape)
print(movie_titles.head())

(17770, 3)
   Id    Year                          Name
0   1  2003.0               Dinosaur Planet
1   2  2004.0    Isle of Man TT 2004 Review
2   3  1997.0                     Character
3   4  1994.0  Paula Abdul's Get Up & Dance
4   5  2004.0      The Rise and Fall of ECW

In [10]:
# Vocabulary
names = movie_titles['Name'].tolist()
print(len(names), names[:3])

17770 ['Dinosaur Planet', 'Isle of Man TT 2004 Review', 'Character']

In [24]:
# remove numerals and special characters
import re

def regex_cleaning(text):
    text = text.lower()
    text = text.replace('\x01', ' ')
    text = re.sub(r'[^\x00-\x7F]+',' ', text)
    text = re.sub(r"http[s]?\S+", " ", text)
    text = re.sub(r"xx+", " ", text)
    text = re.sub(r"x{2,}", "", text)
    text = re.sub(r"`", "", text)
    text = re.sub('[0-9]+', '', text)
    text = text.replace('"', '')
    text = text.replace("'", "")
    return text

In [25]:
names_cleaned = [regex_cleaning(x) for x in names]

In [26]:
len(names_cleaned), names_cleaned[:5]

(17770,
 ['dinosaur planet',
  'isle of man tt  review',
  'character',
  'paula abduls get up & dance',
  'the rise and fall of ecw'])